/*Samuel Ryckman
* Base styles for all pages
*/

html, body {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-family: roboto,sans-serif;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    margin-bottom: 4px;
    text-align: center;
}

h1.subhead {
    font-size: 26px;
    margin-top: 6px;
}

h2 {
    font-size: 30px;
    margin-bottom: 4px;
}

.contentWrapper {
    margin: auto;
    width: 750px;
    max-width: 96%;
    min-height: 400px;
    background-color: #f7f7f7;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 16px 16px;
    text-align: center;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.20);
    position:relative;
}

.hidden {
    display:none!important;
}

#scoreboard {
    margin-top: 40px;
}

/***Table styling***/
table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 12px;
    margin-bottom: 38px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #ee792b; /*orange*/
    color: #ffffff;
    text-align: left;
}

table td:first-of-type {
    font-weight: bold;
}

table tr:last-of-type {
    font-weight: bold;
    font-size: 16px;
}

table th,
table td {
    padding: 10px 10px;
    text-align: center;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #ee792b;  /*orange*/
}

table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table tr:last-of-type td:nth-of-type(2) {
    text-align: right;
}

/***Loading stuff***/

.spinnerContainer {
    position:absolute;
    left:50%;
    top:70%;
    transform:translate(-50%,-50%);
}

.loadingSpinner {
    border: 8px solid #999999;
    border-radius: 50%;
    border-top: 8px solid transparent;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
    transition: opacity 0.1s;
    transition-delay: 0.5s;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}